.header {
  margin: 0 auto;
  width: 90%;

  &_title {
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-size: 45px;
    text-transform: uppercase;
    -webkit-text-stroke: 0.8px #000;
  }
}
