#root {
  isolation: isolate;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Grinched', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.bg-img {
  z-index: -1;
  object-fit: cover;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: $yellow;
  margin: 0;
  padding: 0;
}

button {
  width: 170px;
  font-size: 30px;
  color: $yellow;
  border-radius: 50px;
  border: 1px solid $orange-dark;
  background: $orange;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  margin: 10px auto;
  text-align: center;
  &:hover {
    background: $orange-dark;
    animation: tremble 1s ease-in-out;
    transition: background-color 0.3s;
  }
}

@keyframes tremble {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1) rotate(-5deg);
  }
  50% {
    transform: scale(0.9) rotate(5deg);
  }
  75% {
    transform: scale(1.1) rotate(-5deg);
  }
}
