html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Grinched', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url('/img/fondo-halloween.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: $yellow;
}

#root,
#__next {
  isolation: isolate;
}
