@import '../utilities/mixins';
@import '../utilities/variables';

.home {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  max-width: 450px;
  margin: 0 auto;

  h2 {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    font-size: 30px;
    -webkit-text-stroke: 0.1px #000;
  }
}

.container {
  &_container-up {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
  }

  &_container-down {
    text-align: start;
    width: 300px;
  }

  &_container-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
  }
  &_murcielagos {
    width: 100px;
    height: 100px;
  }
  &_calabaza {
    width: 100px;
    height: 100px;
  }
}
