.login-page-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;

  &_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
  }

  h1 {
    color: #333;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  input {
    width: 50%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }

  button {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  .error-message {
    color: red;
    display: none;
    margin-top: 10px;
  }

  .generate-excel-button {
    margin-top: 10px;
  }

  .welcome-message {
    color: green;
    display: none;
    margin-top: 10px;
  }

  .logout-button {
    background-color: #ff5733;
    color: #fff;
    display: none;
  }

  .login-text {
    max-width: 80%;
    margin: 20px auto;
  }
}
